<web-app>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>First</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/First</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Test1</servlet-name>
		<servlet-class>sec</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test1</servlet-name>
		<url-pattern>/sec</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Test2</servlet-name>
		<servlet-class>appdemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test2</servlet-name>
		<url-pattern>/appdemo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Test3</servlet-name>
		<servlet-class>appdemo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test3</servlet-name>
		<url-pattern>/appdemo1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Test4</servlet-name>
		<servlet-class>colordemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test4</servlet-name>
		<url-pattern>/colordemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Test5</servlet-name>
		<servlet-class>Servlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test5</servlet-name>
		<url-pattern>/Servlet1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Test6</servlet-name>
		<servlet-class>cook_demo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test6</servlet-name>
		<url-pattern>/cookdemo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Test7</servlet-name>
		<servlet-class>cook_demo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test7</servlet-name>
		<url-pattern>/cookdemo1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Test8</servlet-name>
		<servlet-class>date_demo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test8</servlet-name>
		<url-pattern>/datedemo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Test9</servlet-name>
		<servlet-class>inet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test9</servlet-name>
		<url-pattern>/inet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Test10</servlet-name>
		<servlet-class>dogetpost</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test10</servlet-name>
		<url-pattern>/harsha</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Test11</servlet-name>
		<servlet-class>jdbc_demo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test11</servlet-name>
		<url-pattern>/jdbc_demo1</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Test12</servlet-name>
		<servlet-class>sess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test12</servlet-name>
		<url-pattern>/sess</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Test13</servlet-name>
		<servlet-class>sess1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test13</servlet-name>
		<url-pattern>/sess1</url-pattern>
	</servlet-mapping>

</web-app>